<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Register and login</h1>
<h2>Register Form</h2>
<form id="registerForm" method="post" action="http://127.0.0.1:8000/user/create/">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="register_email" name="email" required>
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="register_username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="register_password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Register">
    </div>
</form>

<h2>Login Form</h2>
<form id="loginForm" method="post" action="http://127.0.0.1:8000/user/login/">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>
<button id="logoutButton">log out</button>

<div id="registerAndLoginResponseContainer">response should go here</div>

<h1>Get data</h1>

<button id="textsButton">all texts</button>
<button id="projectsButton">all projects</button>
<br/>
<input type="text" id="textTextField">
<button id="textButton">get text</button>
<br/>
<input type="text" id="projectTextField">
<button id="projectButton">get project</button>
<br/>
<br/>
<div id="getDataResponseContainer">response should go here</div>

<h1>Post data</h1>

<h2>Project Form</h2>
<form id="projectForm" method="post" action="http://127.0.0.1:8000/internal/projects/">
    <div>
        <label for="projectName">Name:</label>
        <input type="text" id="projectName" name="name" required>
    </div>
    <div>
        <label for="projectManager">Manager:</label>
        <input type="text" id="projectManager" name="manager" required>
    </div>
    <div>
        <label for="projectWriters">Writers:</label>
        <input type="text" id="projectWriters" name="writers" required>
    </div>
    <div>
        <label for="projectStartDate">Start date:</label>
        <input type="text" id="projectStartDate" name="startDate" required>
    </div>
    <div>
        <input type="submit" value="POST">
    </div>
</form>

<h2>Text Form</h2>
<form id="textForm" method="post" action="http://127.0.0.1:8000/internal/texts/">
    <div>
        <label for="textProject">Project:</label>
        <input type="text" id="textProject" name="project" required>
    </div>
    <div>
        <label for="textBody">Body:</label>
        <input type="text" id="textBody" name="body" required>
    </div>
    <div>
        <input type="submit" value="POST">
    </div>
</form>

<div id="postDataResponseContainer">response should go here</div>

<script>

    $(document).ready(function () {
        $('#loginForm').submit(function (e) {
            e.preventDefault();

            var formData = {
                email: $('#email').val(),
                password: $('#password').val()
            };

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function (response) {
                    printResponseForRegisterAndLogin(response);
                    localStorage.setItem('token', response.token);
                },
                error: function (xhr, status, error) {
                    printErrorForRegisterAndLogin(error);
                }
            });
        });

        $('#registerForm').submit(function (e) {
            e.preventDefault();

            var formData = {
                email: $('#register_email').val(),
                username: $('#register_username').val(),
                password: $('#register_password').val()
            };

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function (response) {
                    printResponseForRegisterAndLogin(response);
                },
                error: function (xhr, status, error) {
                    printErrorForRegisterAndLogin(error);
                }
            });
        });
    });

    $('#projectForm').submit(function (e) {
        e.preventDefault();
        var token = localStorage.getItem('token');

        var formData = {
            name: $('#projectName').val(),
            manager: $('#projectManager').val(),
            writers: $('#projectWriters').val(),
            startDate: $('#projectStartDate').val()
        };

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            headers: {
                'Authorization': 'Token ' + token
            },
            data: formData,
            success: function (response) {
                printResponseForPostData(response);
            },
            error: function (xhr, status, error) {
                printErrorForPostData(error);
            }
        });
    });

    $('#textForm').submit(function (e) {
        e.preventDefault();
        var token = localStorage.getItem('token');

        var formData = {
            project: $('#textProject').val(),
            body: $('#textBody').val()
        };

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            headers: {
                'Authorization': 'Token ' + token
            },
            data: formData,
            success: function (response) {
                printResponseForPostData(response);
            },
            error: function (xhr, status, error) {
                printErrorForPostData(error);
            }
        });
    });

    document.getElementById("logoutButton").addEventListener("click", function () {
        var token = localStorage.getItem('token');
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:8000/user/logout/',
            headers: {
                'Authorization': 'Token ' + token
            },
            success: function (response) {
                printResponseForRegisterAndLogin(response);
            },
            error: function (xhr, status, error) {
                printErrorForRegisterAndLogin(error);
            }
        });
        localStorage.setItem('token', '');
    });

    document.getElementById("textsButton").addEventListener("click", function () {
        var token = localStorage.getItem('token');
        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:8000/internal/texts/',
            headers: {
                'Authorization': 'Token ' + token
            },
            success: function (response) {
                printResponseForGetData(response);
            },
            error: function (xhr, status, error) {
                printErrorForGetData(error);
            }
        });
    });

    document.getElementById("projectsButton").addEventListener("click", function () {
        var token = localStorage.getItem('token');
        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:8000/internal/projects/',
            headers: {
                'Authorization': 'Token ' + token
            },
            success: function (response) {
                printResponseForGetData(response);
            },
            error: function (xhr, status, error) {
                printErrorForGetData(error);
            }
        });
    });

    document.getElementById("projectButton").addEventListener("click", function () {
        var token = localStorage.getItem('token');
        var projectName = document.getElementById("projectTextField").value;
        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:8000/internal/projects/' + projectName + '/',
            headers: {
                'Authorization': 'Token ' + token
            },
            success: function (response) {
                printResponseForGetData(response);
            },
            error: function (xhr, status, error) {
                printErrorForGetData(error);
            }
        });
    });

    document.getElementById("textButton").addEventListener("click", function () {
        var token = localStorage.getItem('token');
        var textNumber = document.getElementById("textTextField").value;
        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:8000/internal/texts/' + textNumber + '/',
            headers: {
                'Authorization': 'Token ' + token
            },
            success: function (response) {
                printResponseForGetData(response);
            },
            error: function (xhr, status, error) {
                printErrorForGetData(error);
            }
        });
    });

    function printResponseForRegisterAndLogin(response) {
        var html = '';
        if(Array.isArray(response)) {
            response.forEach(function (obj) {
            Object.keys(obj).forEach(function (key) {
                var value = obj[key];
                html += '<p><strong>' + key + ':</strong> ' + value + '</p>';
            });
        });
        } else {
            Object.keys(response).forEach(function (key) {
                var value = response[key];
                html += '<p><strong>' + key + ':</strong> ' + value + '</p>';
            });
        }
        $('#registerAndLoginResponseContainer').html(html);
    }

    function printResponseForGetData(response) {
        var html = '';
        if(Array.isArray(response)) {
            response.forEach(function (obj) {
            Object.keys(obj).forEach(function (key) {
                var value = obj[key];
                html += '<p><strong>' + key + ':</strong> ' + value + '</p>';
            });
        });
        } else {
            Object.keys(response).forEach(function (key) {
                var value = response[key];
                html += '<p><strong>' + key + ':</strong> ' + value + '</p>';
            });
        }
        $('#getDataResponseContainer').html(html);
    }

    function printResponseForPostData(response) {
        var html = '';
        if(Array.isArray(response)) {
            response.forEach(function (obj) {
            Object.keys(obj).forEach(function (key) {
                var value = obj[key];
                html += '<p><strong>' + key + ':</strong> ' + value + '</p>';
            });
        });
        } else {
            Object.keys(response).forEach(function (key) {
                var value = response[key];
                html += '<p><strong>' + key + ':</strong> ' + value + '</p>';
            });
        }
        $('#postDataResponseContainer').html(html);
    }

    function printErrorForRegisterAndLogin(error) {
        $('#registerAndLoginResponseContainer').html(error);
    }

    function printErrorForGetData(error) {
        $('#getDataResponseContainer').html(error);
    }

    function printErrorForPostData(error) {
        $('#postDataResponseContainer').html(error);
    }

</script>

</body>
</html>
